:root {
    --teal: #006E7F;
    --yellow: #F8CB2E;
    --red: #B22727;
}

html {
    background-color: #F0F0F0;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 25px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.button-holder {
    background-color: var(--teal);
    width: 660px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

button {
    width: 100px;
    height: 75px;
    background-color: var(--yellow);
    border: 1px outset black;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

button:active {
    transform: translateY(10px);
}

.color-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slide-container{
    width: 100px;
    height: 75px;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px outset black;
    border-radius: 20px;
}

.slider{
    width: 80px;
    height: 25px;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
}

.container {
    border: 30px ridge var(--red);
    border-radius: 20px;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.shake {
    animation: shake-etch-a-sketch 1s linear 3;
}

.row {
    display: flex;
    flex-direction: row;
    border:0;
}   

.row>div {
    background-color: white;
    opacity: .1;
}

.clear {
    cursor: pointer;
}

footer {
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}


@keyframes shake-etch-a-sketch {
    0% {transform: translateX(0px);}
    33% {transform: translateX(10px);}
    66% {transform: translateX(-10px);}
    100% {transform: translateX(0px);}
}